<div *ngIf="cartItems == 0">
    <mat-card class="box">
        <mat-card-title class="form-title">Canje de Material - Centro de Acopio: 
            {{currentUser.centroAcopio.nombre}}</mat-card-title>
        <mat-card-content>
            <p class="form-date">Fecha del Canje: {{ fecha | date: 'dd/MM/yyyy' }}</p>
        </mat-card-content>
        <mat-card-content>
            <p class="form-date">No hay productos en el carrito</p>
        </mat-card-content>
    </mat-card>
</div>

<form [formGroup]="canjeMaterialForm" class="form" fxLayout="column" fxLayoutAlign="center center" *ngIf="cartItems > 0">

    <mat-card class="box">
        <mat-card-title class="form-title">Canje de Material - Centro de Acopio: 
            {{currentUser.centroAcopio.nombre}}</mat-card-title>
        <mat-card-content>
            <p class="form-date">Fecha del Canje: {{ fecha | date: 'dd/MM/yyyy' }}</p>
        </mat-card-content>

        <div class="col selectCliente">
            <mat-form-field class="full-width">
                <mat-select placeholder="Clientes" formControlName="clienteId" (selectionChange)="setSelectedUser($event.value)">
                    <mat-option *ngFor="let usuario of usuarioList" [value]="usuario">
                        {{ usuario.nombreCompleto }}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="errorHandling('clienteId', 'required')">
                    Cliente es <strong>requerido</strong>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- Mostrar informacion completa del usuario seleccionado -->
        <div *ngIf="canjeMaterialForm.get('clienteId').value" class="col">
            <mat-card class="box">
                <mat-card-title>Información del Cliente</mat-card-title>
                <mat-card-content>
                    <p>Identificación: {{userSelect.id}}</p>
                    <p>Nombre: {{userSelect.nombreCompleto}}</p>
                    <p>Correo: {{userSelect.correo}}</p>
                </mat-card-content>
            </mat-card>
        </div>
        <button mat-flat-button color="accent" (click)="confirmarCliente()"
            [disabled]="!canjeMaterialForm.get('clienteId').value">
            Confirmar Cliente
            <mat-icon>check</mat-icon>
        </button>
    </mat-card>
</form>
<mat-card class="box">
    <mat-card-content *ngIf="dataSource">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="producto">
                <mat-header-cell *matHeaderCellDef> Material </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.product.nombre}}
                </mat-cell>

                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.product.precioEcoMoneda | currency}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field appearance="fill">
                        <input matInput id="cantidad " type="number" class="form-control mb-2"
                            [(ngModel)]="element.cantidad" (change)="actualizarCantidad(element)">
                    </mat-form-field>

                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="footer-total">Total </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="subtotal">
                <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subtotal | currency}} </mat-cell>
                <mat-footer-cell *matFooterCellDef class="footer-total">{{total | currency}} </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="eliminarItem(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns" class="footer-row"></mat-footer-row>
        </mat-table>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="accent" (click)="registrarCanje()" [disabled]="!clienteId">
            Confirmar canje
            <mat-icon>shopping_bag</mat-icon>
        </button>
    </mat-card-actions>
</mat-card>


<!-- <mat-card class="box">
    <mat-card-title>Orden de Canje de Material</mat-card-title>
    <mat-card-content>
        Fecha: {{fecha | date: 'dd/MM/yyyy'}}
    </mat-card-content>
</mat-card>


<div class="col">
    <mat-form-field class="full-width">
        <mat-select placeholder="Seleccione un cliente" formControlName="cliente">
            <mat-option *ngFor="let usuario of usuarioList" [value]="usuario.id">
                {{ usuario.nombreCompleto }}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="errorHandling('usuario', 'required')">
            Usuario es <strong>requerido</strong>
        </mat-error>

    </mat-form-field>
</div>

<mat-card class="box">
    <mat-card-content *ngIf="dataSource">
        <mat-table [dataSource]="dataSource" class="mat-elevation-z8">

            <ng-container matColumnDef="producto">
                <mat-header-cell *matHeaderCellDef> Material </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.product.nombre}}
                </mat-cell>

                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="precio">
                <mat-header-cell *matHeaderCellDef> Precio </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.product.precioEcoMoneda | currency}} </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="cantidad">
                <mat-header-cell *matHeaderCellDef> Cantidad </mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <mat-form-field appearance="fill">
                        <input matInput id="cantidad " type="number" class="form-control mb-2"
                            [(ngModel)]="element.cantidad" (change)="actualizarCantidad(element)">
                    </mat-form-field>

                </mat-cell>
                <mat-footer-cell *matFooterCellDef class="footer-total">Total </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="subtotal">
                <mat-header-cell *matHeaderCellDef> Subtotal </mat-header-cell>
                <mat-cell *matCellDef="let element"> {{element.subtotal | currency}} </mat-cell>
                <mat-footer-cell *matFooterCellDef class="footer-total">{{total | currency}} </mat-footer-cell>
            </ng-container>

            <ng-container matColumnDef="acciones">
                <mat-header-cell *matHeaderCellDef> Acciones</mat-header-cell>
                <mat-cell *matCellDef="let element">
                    <button mat-icon-button (click)="eliminarItem(element)">
                        <mat-icon>delete</mat-icon>
                    </button>
                </mat-cell>
                <mat-footer-cell *matFooterCellDef></mat-footer-cell>
            </ng-container>

            <mat-header-row *matHeaderRowDef="displayedColumns" class="header"></mat-header-row>
            <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
            <mat-footer-row *matFooterRowDef="displayedColumns" class="footer-row"></mat-footer-row>
        </mat-table>

    </mat-card-content>
    <mat-card-actions align="end">
        <button mat-flat-button color="accent" (click)="registrarCanje()">
            Comprar
            <mat-icon>shopping_bag</mat-icon>
        </button>
    </mat-card-actions>
</mat-card> -->