<form [formGroup]="formCreate" (ngSubmit)="submitCupon()" novalidate>
    <input type="hidden" formControlName="id" />
    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>{{ titleForm }} Cupon</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput #nombreCupon formControlName="nombre" maxlength="20" placeholder="Nombre" />
                        <mat-hint align="end">{{ nombreCupon.value.length }} / 12</mat-hint>
                        <mat-error *ngIf="errorHandling('nombre', 'required')">
                            Nombre es <strong>requerido</strong>
                        </mat-error>
                        <mat-error *ngIf="errorHandling('nombre', 'minlength')">
                            Nombre debe tener <strong>3 caracteres</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="descripcion" placeholder="Descripción" />
                        <mat-error *ngIf="errorHandling('descripcion', 'required')">
                            Descripcion es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="categoria" placeholder="Categoria" />
                        <mat-error *ngIf="errorHandling('categoria', 'required')">
                            Categoria es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput formControlName="ecoMonedasNecesarias" type="number"
                            placeholder="Eco monedas necesarias" />
                        <mat-error *ngIf="errorHandling('ecoMonedasNecesarias', 'required')">
                            Ecomonedas necesarias es requerido </mat-error>
                        <mat-error *ngIf="errorHandling('ecoMonedasNecesarias', 'pattern')">
                            Ecomonedas necesarias debe tener <strong>números</strong>
                        </mat-error>
                    </mat-form-field>
                </div>

                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="pickerInicio" formControlName="fechaInicio"
                            placeholder="Fecha Inicio" />
                        <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                        <mat-datepicker #pickerInicio></mat-datepicker>
                        <mat-error *ngIf="errorHandling('fechaInicio', 'required')">
                            Fecha Inicio es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col">
                    <mat-form-field class="full-width">
                        <input matInput [matDatepicker]="pickerFinal" formControlName="fechaFinal"
                            placeholder="Fecha Final" />
                        <mat-datepicker-toggle matSuffix [for]="pickerFinal"></mat-datepicker-toggle>
                        <mat-datepicker #pickerFinal></mat-datepicker>
                        <mat-error *ngIf="errorHandling('fechaFinal', 'required')">
                            Fecha Final es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>



            <div class="row">
                <div class="col">
                    <mat-form-field class="full-width">
                        <mat-label>Imagen</mat-label>
                        <input type="text" matInput [value]="formCreate.get('imagenURL').value" readonly />
                        <mat-error *ngIf="errorHandling('imagenURL', 'required')">
                            Imagen es <strong>requerido</strong>
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="file" (change)="handleImageInput($event)" />
                </div>
            </div>


        </mat-card-content>
        <mat-card-actions>
            <div class="example-button-row">
                <button mat-raised-button color="warn" (click)="onReset()">
                    Reset
                </button>
                <button mat-raised-button color="primary" (click)="onBack()">
                    Regresar
                </button>
                <button mat-raised-button color="accent" type="submit">Guardar</button>
            </div>
        </mat-card-actions>
    </mat-card>
</form>